.main-card {
    margin-top: 20px;
}

.img-url {
    width: 275px;
    height: 155px;
    filter: brightness(40%);
}

.edit-form {
    display: inline;
}

.edit-form .edit-btn {
    border: none;
    background-color: transparent;
    padding: 0;
}
