<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="container">
    <h3>Nothing there!</h3>
  </main>
  <%- include('../includes/end.ejs') %>